mainPage{

  .header{
    width: 100%;
    height: auto;
  }

  .titolo{
    text-align: center;
  }

  .griglia{
    vertical-align: middle;
    horiz-align: center;
    margin-left: auto;
    height: 100%;
    margin-top: 15%;
  }

  .riga{
    margin-left: auto;
    margin-right: auto;
  }

  .colonna{
      border: solid;
  }

  .immagine{
      width: 50%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }

  .sub-img{
      text-align: center;
  }

}
