pianoPage{

    .header{
      width: 100%;
      height: auto;
    }

    .titolo{
      text-align: center;
    }

    .tabella{
      width: auto;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10%;
    }


    .riga{
      border: solid;
    }





}
