<ion-header class="header">
  <ion-title class="titolo">Piano di Studi</ion-title>
  <ion-navbar >
    <ion-title >
      Main Page
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content (ionScroll)="false">
<table class="tabella" *ngFor="let x of  arrayOfKeys">


  <div *ngIf="x==0">
    <b>Anno 1</b>
    <tr class="riga">
    <td>
        <b>{{dizf[x].ARC12}} </b>
    </td>
  </tr>

    <tr class="riga">
      <td>
        <b>{{dizf[x].FISIC6}}</b>
      </td>
    </tr>

    <tr class="riga">
      <td>
        <b>{{dizf[x].GI68}}</b>
      </td>
    </tr>


    <tr class="riga">
      <td>
        <b>{{dizf[x].INFO03}}</b>
      </td>
    </tr>


    <tr class="riga">
      <td>
        <b>{{dizf[x].MAT9}}</b>
      </td>
    </tr>


    <tr class="riga">
      <td>
        <b>{{dizf[x].PROGR9}}</b>
      </td>
    </tr>


    <tr class="riga">
      <td>
       <b>{{dizf[x].PROGR12}}</b>
      </td>
    </tr>
  </div>

  <div *ngIf="x==1">
    <b>Anno 2</b>
    <tr class="riga">
      <td>
        <b>{{dizf[x].ALGSTD12}}</b>
      </td>
    </tr>


    <tr class="riga">
      <td>
        <b>{{dizf[x].BSDLBSD9}}</b>
      </td>
    </tr>

    <tr class="riga">
      <td>
        <b>{{dizf[x].CALCN6}}</b>
      </td>
    </tr>


    <tr class="riga">
      <td>
        <b>{{dizf[x].MATII9}}</b>
      </td>
    </tr>


    <tr class="riga">
      <td>
        <b>{{dizf[x].SISOPL12}}</b>
      </td>
    </tr>
  </div>


  <div *ngIf="x==2">
    <b >Anno 3</b>

    <tr class="riga">
      <td>
        <b>{{dizf[x].TMOB}}</b>
      </td>
    </tr>


    <tr class="riga">
      <td>
        <b>{{dizf[x].CPD6}}</b>
      </td>
    </tr>


    <tr class="riga">
      <td>
        <b>{{dizf[x].EDI6}}</b>
      </td>
    </tr>


    <tr class="riga">
      <td>
        <b>{{dizf[x].PFIN}}</b>
      </td>
    </tr>


    <tr class="riga">
      <td>
        <b>{{dizf[x].PRGRIII9}}</b>
      </td>
    </tr>


    <tr class="riga">
      <td>
        <b>{{dizf[x].RCLRC9}}</b>
      </td>
    </tr>

    <tr class="riga">
      <td>
        <b>{{dizf[x].SIC}}</b>
      </td>
    </tr>


    <tr class="riga">
      <td>
        <b>{{dizf[x].SISGIS1}}</b>
      </td>
    </tr>


    <tr class="riga">
      <td>
        <b>{{dizf[x].TW6}}</b>
      </td>
    </tr>
  </div>

</table>
</ion-content>
